variables:
  POSTGRES_HOST_AUTH_METHOD: trust
  CARGO_HOME: $CI_PROJECT_DIR/.cargo

image: "harbor.hendrikx-itc.nl/1optic/rust-ci:1.90.0@sha256:15d848efef5b33eb187d4615d570b60fed8b5cc472780a26a22c958fa8c33908"

stages:
  - lint
  - test
  - build

lint:
  stage: lint
  script:
    - cargo fmt --check
    - RUSTFLAGS="-Dwarnings" cargo clippy --all-targets --all-features

# Use cargo to test the project
test-cortex-dispatcher:cargo:
  stage: test
  tags:
    - testcontainers
  before_script:
    - rustup default nightly
  script:
    - rustc --version && cargo --version  # Print version info for debugging
    - cargo build --bin cortex-dispatcher
    - cargo test --verbose -- --format=json  -Z unstable-options --report-time | cargo2junit > results.xml
  artifacts:
    when: always
    reports:
      junit: results.xml

build-service-image:
  stage: build
  image: quay.io/buildah/stable@sha256:428cc6a670d630b5335307123756987ede84afe560a41df62e35b67df83ce7c2
  before_script:
    - echo "$DOCKER_REGISTRY_PASSWORD" | buildah login -u "$DOCKER_REGISTRY_USER" --password-stdin $DOCKER_REGISTRY
  script:
    - buildah build
      --file "${CI_PROJECT_DIR}/Dockerfile"
      --tag "${DOCKER_REGISTRY_IMAGE}"
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - if: $CI_PIPELINE_SOURCE == "web"
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_COMMIT_TAG
      when: never

publish-service-image:
  stage: build
  image: quay.io/buildah/stable@sha256:428cc6a670d630b5335307123756987ede84afe560a41df62e35b67df83ce7c2
  before_script:
    - echo "$DOCKER_REGISTRY_PASSWORD" | buildah login -u "$DOCKER_REGISTRY_USER" --password-stdin $DOCKER_REGISTRY
  script:
    - buildah build
      --file "${CI_PROJECT_DIR}/Dockerfile"
      --tag "${DOCKER_REGISTRY_IMAGE}:${CI_COMMIT_TAG}"
    - buildah push "${DOCKER_REGISTRY_IMAGE}:${CI_COMMIT_TAG}"
  rules:
    - if: $CI_COMMIT_TAG
