version: "3.2"

volumes:
  grafana_data:
  home:
  rabbitmq-database:

services:
  rabbitmq:
    image: rabbitmq:4.2-management@sha256:61fe7962792ad7bbaa3f9454122b366ff4b34fc1c224e528267f4ed3fd845f15
    ports:
      - 127.0.0.1:5672:5672
      - 127.0.0.1:15672:15672
    volumes:
      - ./dev-stack/rabbitmq.conf:/etc/rabbitmq/conf.d/20-dev.conf
      - ./dev-stack/definitions.json:/etc/rabbitmq/definitions.json
      - rabbitmq-database:/var/lib/rabbitmq

  sftp:
    image: atmoz/sftp@sha256:0960390462a4441dbb63698d7c185b76a41ffcee7b78ff4adf275f3e66f9c475
    ports:
      - "127.0.0.1:2222:22"
    command: cortex:password:::upload
    volumes:
      - home:/home/cortex

  prometheus:
    image: prom/prometheus@sha256:d936808bdea528155c0154a922cd42fd75716b8bb7ba302641350f9f3eaeba09
    ports:
      - 127.0.0.1:9090:9090
    volumes:
      - ./dev-stack/prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana@sha256:70d9599b186ce287be0d2c5ba9a78acb2e86c1a68c9c41449454d0fc3eeb84e8
    ports:
      - 127.0.0.1:3000:3000
    volumes:
      - grafana_data:/var/lib/grafana
      - ./dev-stack/grafana/provisioning/:/etc/grafana/provisioning/

  pg_prometheus:
    image: timescale/pg_prometheus:latest-pg11@sha256:612b5342b122e424dea323ed70393e9c1cef3553cf59da6595254cb20fbfc454
    command: ["postgres", "-csynchronous_commit=off"]
    ports:
      - 127.0.0.1:5432:5432
    volumes:
      - ./dev-stack/pg_prometheus/docker-entrypoint-initdb.d/004-init-cortex-db.sh:/docker-entrypoint-initdb.d/004-init-cortex-db.sh
      - ./db/schema.sql:/schema.sql
    environment:
      POSTGRES_PASSWORD: "password"

  adapter:
    image: timescale/prometheus-postgresql-adapter:latest@sha256:ea3c4dfb9d55e824e0376e3beaa3cbc261eb8d026682257139da1a81148c39d9
    command: ["-pg-host=pg_prometheus", "-pg-password=password", "-pg-prometheus-log-samples"]

  generator:
    build: dev-stack/data-generator
    environment:
      SFTP_HOST: sftp
      SFTP_PORT: 22
      SFTP_USERNAME: cortex
      SFTP_PASSWORD: password
